@model madurativas.db.mchat
<div class="modal-content">

    <div class="modal-header">
        <button style="color:white" type="button" class="close" data-dismiss="modal">&times;</button>

        <table class="col-md-12">

            <tr>
                <td class="col-md-6">

                    <h4 class="modal-title">
                        ¿@Model.estudio.Paciente.nombre responde cuando lo/la llama por su nombre?
                    </h4>
                </td>
                <td class="col-md-6">
                    <h4 style="color: white; float: right;"><strong>No es una prueba diagnóstica</strong></h4>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-body" id="bodyDetailQuest10">
        <div class="row">
            <div class="col-md-12">
              
                @using (@Html.BeginForm("SaveDetailQuest10", null, FormMethod.Post, new {id = "FrmQuest10"}))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class=" col-md-8">
                            10. ¿@Model.estudio.Paciente.nombre responde cuando lo/la llama por su nombre?
                        </label>
                        <div id="dt10_quest_1" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                            <label onclick="Selectable(this)" class="btn btn-secondary dt10quest1">
                                <input type="radio" name="options" id="dt10_quest_1_option1">Si
                            </label>
                            <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest1">
                                <input type="radio" name="options" id="dt10_quest_1_option2" checked> &nbsp
                            </label>
                            <label onclick="Selectable(this)" class="btn btn-secondary dt10quest1">
                                <input type="radio" name="options" id="dt10_quest_1_option3">No
                            </label>
                        </div>
                        @*<div class="col-md-4">
            <div class="checkbox">
                @Html.CheckBox("quest_1", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest1), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest1, "", new { @class = "text-danger" })
            </div>
        </div>*@
                    </div>
                    <div class="form-group" style="font-weight: bold">
                        <label class="control-label col-md-12" id="lblDeEjemplo">

                        </label>
                    </div>
                    <hr />
                    <div id="ejemplosPasa" style="display:none">
                        <div class="form-group" style="font-weight: bold">
                            <label class="control-label col-md-12">
                                @Model.estudio.Paciente.nombre...
                                (ejemplos de PASA)
                            </label>
                        </div>
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Levanta la cabeza y lo/la mira?
                            </label>
                            <div id="dt10_quest_2" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest2">
                                    <input type="radio" name="options" id="dt10_quest_2_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest2">
                                    <input type="radio" name="options" id="dt10_quest_2_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest2">
                                    <input type="radio" name="options" id="dt10_quest_2_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_2", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest2), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest2, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Habla o balbucea?
                            </label>
                            <div id="dt10_quest_3" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest3">
                                    <input type="radio" name="options" id="dt10_quest_3_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest3">
                                    <input type="radio" name="options" id="dt10_quest_3_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest3">
                                    <input type="radio" name="options" id="dt10_quest_3_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_3", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest3), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest3, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Interrumpe lo que está haciendo?
                            </label>
                            <div id="dt10_quest_4" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest4">
                                    <input type="radio" name="options" id="dt10_quest_4_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest4">
                                    <input type="radio" name="options" id="dt10_quest_4_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest4">
                                    <input type="radio" name="options" id="dt10_quest_4_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_4", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest4), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest4, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>
                    </div>
                    <hr />
                    <div id="ejemplosFalla" style="display:none">
                        <div class="form-group" style="font-weight: bold">
                            <label class="control-label col-md-12">
                                @Model.estudio.Paciente.nombre... (ejemplos de Falla)
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿No responde?
                            </label>
                            <div id="dt10_quest_5" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest5">
                                    <input type="radio" name="options" id="dt10_quest_5_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest5">
                                    <input type="radio" name="options" id="dt10_quest_5_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest5">
                                    <input type="radio" name="options" id="dt10_quest_5_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_5", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest5), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest5, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Parece escuchar pero lo/la ignora?
                            </label>
                            <div id="dt10_quest_6" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest6">
                                    <input type="radio" name="options" id="dt10_quest_6_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest6">
                                    <input type="radio" name="options" id="dt10_quest_6_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest6">
                                    <input type="radio" name="options" id="dt10_quest_6_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_6", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest6), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest6, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Responde sólo si el padre/madre está frente a la cara del niño/a?
                            </label>
                            <div id="dt10_quest_7" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest7">
                                    <input type="radio" name="options" id="dt10_quest_7_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest7">
                                    <input type="radio" name="options" id="dt10_quest_7_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest7">
                                    <input type="radio" name="options" id="dt10_quest_7_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_7", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest7), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest7, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Responde sólo si lo/la tocan
                            </label>
                            <div id="dt10_quest_8" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest8">
                                    <input type="radio" name="options" id="dt10_quest_8_option1">Si
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary Activo dt10quest8">
                                    <input type="radio" name="options" id="dt10_quest_8_option2" checked> &nbsp
                                </label>
                                <label onclick="Selectable(this)" class="btn btn-secondary dt10quest8">
                                    <input type="radio" name="options" id="dt10_quest_8_option3">No
                                </label>
                            </div>
                            @*<div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_8", Convert.ToBoolean(Model.mchat_monitor_quest_10.quest8), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_10.quest8, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-8" id="labelResultado">
                            Resultado de la Prueba:
                        </label>
                        <div class="col-md-4">
                            <label class="control-label col-md-8" id="lblResultado">
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="divObservacionResultado" style="display:none;">
                        <label class="control-label col-md-12">
                            * Para el caso de @Model.estudio.Paciente.nombre el resultado para este aspecto se evalúa en base a lo que hace más frecuentemente (para el caso de de igualdad en el número de respuestas PASA - FALLA se evalúa como FALLA)
                        </label>
                        
                    </div>
                    
                </div>
                   
                }
            </div>
            @*<div class="col-md-6">
                <img class="img-responsive" src="@Url.Content("~/Content/images/quest10.png")" alt="img_quest10" />
            </div>*@
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button id="btndtq10Save" @*onclick="location.reload(true);"*@ type="submit" class="btn btn-primary btn-fixed" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>

('@Model.mchat_monitor_quest_10.quest1' == "True") ? $("#dt10_quest_1_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest1' == "False") ? $("#dt10_quest_1_option3").prop("checked", true) : $("#dt10_quest_1_option2").prop("checked", true);
    if ($("#dt10_quest_1_option1").is(':checked')) {
        $("#dt10_quest_1_option1").parent().addClass("Activo");
        $("#dt10_quest_1_option2").parent().removeClass("Activo");
        $("#dt10_quest_1_option3").parent().removeClass("Activo");
        document.getElementById("ejemplosPasa").style.display = "block";
        document.getElementById("ejemplosFalla").style.display = "block";
    } else if ($("#dt10_quest_1_option3").is(':checked')) {
        $("#dt10_quest_1_option1").parent().removeClass("Activo");
        $("#dt10_quest_1_option2").parent().removeClass("Activo");
        $("#dt10_quest_1_option3").parent().addClass("Activo");
        document.getElementById("ejemplosPasa").style.display = "block";
        document.getElementById("ejemplosFalla").style.display = "block";
    };
('@Model.mchat_monitor_quest_10.quest2' == "True") ? $("#dt10_quest_2_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest2' == "False") ? $("#dt10_quest_2_option3").prop("checked", true) : $("#dt10_quest_2_option2").prop("checked", true);
    if ($("#dt10_quest_2_option1").is(':checked')) {
        $("#dt10_quest_2_option1").parent().addClass("Activo");
        $("#dt10_quest_2_option2").parent().removeClass("Activo");
        $("#dt10_quest_2_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_2_option3").is(':checked')) {
        $("#dt10_quest_2_option1").parent().removeClass("Activo");
        $("#dt10_quest_2_option2").parent().removeClass("Activo");
        $("#dt10_quest_2_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest3' == "True") ? $("#dt10_quest_3_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest3' == "False") ? $("#dt10_quest_3_option3").prop("checked", true) : $("#dt10_quest_3_option2").prop("checked", true);
    if ($("#dt10_quest_3_option1").is(':checked')) {
        $("#dt10_quest_3_option1").parent().addClass("Activo");
        $("#dt10_quest_3_option2").parent().removeClass("Activo");
        $("#dt10_quest_3_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_3_option3").is(':checked')) {
        $("#dt10_quest_3_option1").parent().removeClass("Activo");
        $("#dt10_quest_3_option2").parent().removeClass("Activo");
        $("#dt10_quest_3_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest4' == "True") ? $("#dt10_quest_4_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest4' == "False") ? $("#dt10_quest_4_option3").prop("checked", true) : $("#dt10_quest_4_option2").prop("checked", true);
    if ($("#dt10_quest_4_option1").is(':checked')) {
        $("#dt10_quest_4_option1").parent().addClass("Activo");
        $("#dt10_quest_4_option2").parent().removeClass("Activo");
        $("#dt10_quest_4_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_4_option3").is(':checked')) {
        $("#dt10_quest_4_option1").parent().removeClass("Activo");
        $("#dt10_quest_4_option2").parent().removeClass("Activo");
        $("#dt10_quest_4_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest5' == "True") ? $("#dt10_quest_5_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest5' == "False") ? $("#dt10_quest_5_option3").prop("checked", true) : $("#dt10_quest_5_option2").prop("checked", true);
    if ($("#dt10_quest_5_option1").is(':checked')) {
        $("#dt10_quest_5_option1").parent().addClass("Activo");
        $("#dt10_quest_5_option2").parent().removeClass("Activo");
        $("#dt10_quest_5_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_5_option3").is(':checked')) {
        $("#dt10_quest_5_option1").parent().removeClass("Activo");
        $("#dt10_quest_5_option2").parent().removeClass("Activo");
        $("#dt10_quest_5_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest6' == "True") ? $("#dt10_quest_6_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest6' == "False") ? $("#dt10_quest_6_option3").prop("checked", true) : $("#dt10_quest_6_option2").prop("checked", true);
    if ($("#dt10_quest_6_option1").is(':checked')) {
        $("#dt10_quest_6_option1").parent().addClass("Activo");
        $("#dt10_quest_6_option2").parent().removeClass("Activo");
        $("#dt10_quest_6_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_6_option3").is(':checked')) {
        $("#dt10_quest_6_option1").parent().removeClass("Activo");
        $("#dt10_quest_6_option2").parent().removeClass("Activo");
        $("#dt10_quest_6_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest7' == "True") ? $("#dt10_quest_7_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest7' == "False") ? $("#dt10_quest_7_option3").prop("checked", true) : $("#dt10_quest_7_option2").prop("checked", true);
    if ($("#dt10_quest_7_option1").is(':checked')) {
        $("#dt10_quest_7_option1").parent().addClass("Activo");
        $("#dt10_quest_7_option2").parent().removeClass("Activo");
        $("#dt10_quest_7_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_7_option3").is(':checked')) {
        $("#dt10_quest_7_option1").parent().removeClass("Activo");
        $("#dt10_quest_7_option2").parent().removeClass("Activo");
        $("#dt10_quest_7_option3").parent().addClass("Activo");
    };
('@Model.mchat_monitor_quest_10.quest8' == "True") ? $("#dt10_quest_8_option1").prop("checked", true) : ('@Model.mchat_monitor_quest_10.quest8' == "False") ? $("#dt10_quest_8_option3").prop("checked", true) : $("#dt10_quest_8_option2").prop("checked", true);
    if ($("#dt10_quest_8_option1").is(':checked')) {
        $("#dt10_quest_8_option1").parent().addClass("Activo");
        $("#dt10_quest_8_option2").parent().removeClass("Activo");
        $("#dt10_quest_8_option3").parent().removeClass("Activo");
    } else if ($("#dt10_quest_8_option3").is(':checked')) {
        $("#dt10_quest_8_option1").parent().removeClass("Activo");
        $("#dt10_quest_8_option2").parent().removeClass("Activo");
        $("#dt10_quest_8_option3").parent().addClass("Activo");
    };

    $(function () {
        $("#bodyDetailQuest10").click(function () {
            var $dt10_quest1 = $('#FrmQuest10 #quest_1');
            var $dt10_quest2 = $('#FrmQuest10 #quest_2');
            var $dt10_quest3 = $('#FrmQuest10 #quest_3');
            var $dt10_quest4 = $('#FrmQuest10 #quest_4');
            var $dt10_quest5 = $('#FrmQuest10 #quest_5');
            var $dt10_quest6 = $('#FrmQuest10 #quest_6');
            var $dt10_quest7 = $('#FrmQuest10 #quest_7');
            var $dt10_quest8 = $('#FrmQuest10 #quest_8');

            var $dt10_Resultado = $('#FrmQuest10 #lblResultado');
            var $lbl_DeEjemplo = $('#FrmQuest10 #lblDeEjemplo');
            var $labelResultado = $('#FrmQuest10 #labelResultado');
            var $divObservacionResultado = $('#FrmQuest10 #divObservacionResultado')

            function validaResultado() {

                if (CuentaEjemploPasa() == 3) {
                    Resultado("Pasa");
                } else if (CuentaEjemploFalla() == 4) {
                    Resultado("Falla");
                } else {
                    Resultado("Falla");
                }

                if (CuentaEjemploPasa() != 3 || CuentaEjemploFalla() != 4) {
                    $labelResultado.empty();
                    $labelResultado.append("Resultado de la Prueba:*");
                    $divObservacionResultado.show();
                } else {
                    $labelResultado.empty();
                    $labelResultado.append("Resultado de la Prueba:");
                    $divObservacionResultado.hide();
                }

            }

            function Resultado(valor) {
                $dt10_Resultado.empty();
                $dt10_Resultado.append(valor);
            }


            function muestraCampos() {
                $lbl_DeEjemplo.empty();
                if ($("#dt10_quest_1_option1").parent().hasClass("Activo")) {

                    $lbl_DeEjemplo.append("Por favor, deme un ejemplo de cómo responde cuando lo / la llama por su nombre(Si el padre / madre no da un ejemplo de PASA o FALLA de los que están debajo, pregunte cada uno individualmente");
                    document.getElementById("ejemplosPasa").style.display = "block";
                    document.getElementById("ejemplosFalla").style.display = "block";

                } else if ($("#dt10_quest_1_option3").parent().hasClass("Activo")) {

                    $lbl_DeEjemplo.append("Si su hijo o hija no está haciendo algo divertido o interesante, ¿qué hace cuando lo/la llama por su nombre? (Si el padre/madre no da un ejemplo de PASA o FALLA de los que están debajo, pregunte cada uno individualmente");
                    document.getElementById("ejemplosPasa").style.display = "block";
                    document.getElementById("ejemplosFalla").style.display = "block";

                } else if ($("#dt10_quest_1_option2").parent().hasClass("Activo")) {

                    $lbl_DeEjemplo.append("");
                    document.getElementById("ejemplosPasa").style.display = "none";
                    document.getElementById("ejemplosFalla").style.display = "none";

                }


                validaResultado();
            }

            muestraCampos();


            $("#bodyDetailQuest10").click(function () {

                muestraCampos();

            });


            function CuentaEjemploPasa() {
                var nPasa = 0;

                if ($("#dt10_quest_2_option1").parent().hasClass("Activo")) nPasa++;
                if ($("#dt10_quest_3_option1").parent().hasClass("Activo")) nPasa++;
                if ($("#dt10_quest_4_option1").parent().hasClass("Activo")) nPasa++;

                return nPasa;

            }


            function CuentaEjemploFalla() {
                var nfallas = 0;

                if ($("#dt10_quest_5_option1").parent().hasClass("Activo")) nfallas++;
                if ($("#dt10_quest_6_option1").parent().hasClass("Activo")) nfallas++;
                if ($("#dt10_quest_7_option1").parent().hasClass("Activo")) nfallas++;
                if ($("#dt10_quest_8_option1").parent().hasClass("Activo")) nfallas++;

                return nfallas;

            }

            $("#btndtq10Save").click(function (e) {

                e.preventDefault();

                var form = $("#FrmQuest10");
                var _pasa;

                if ($dt10_Resultado.text().toLowerCase() == "pasa") {
                    _pasa = true;
                } else { _pasa = false; }

                var q10datos = {
                    estudioId: $("#estudio_id").val(),
                    quest1: ($("#dt10_quest_1_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_1_option3").parent().hasClass("Activo")) ? false : null,
                    quest2: ($("#dt10_quest_2_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_2_option3").parent().hasClass("Activo")) ? false : null,
                    quest3: ($("#dt10_quest_3_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_3_option3").parent().hasClass("Activo")) ? false : null,
                    quest4: ($("#dt10_quest_4_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_4_option3").parent().hasClass("Activo")) ? false : null,
                    quest5: ($("#dt10_quest_5_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_5_option3").parent().hasClass("Activo")) ? false : null,
                    quest6: ($("#dt10_quest_6_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_6_option3").parent().hasClass("Activo")) ? false : null,
                    quest7: ($("#dt10_quest_7_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_7_option3").parent().hasClass("Activo")) ? false : null,
                    quest8: ($("#dt10_quest_8_option1").parent().hasClass("Activo")) ? true : ($("#dt10_quest_8_option3").parent().hasClass("Activo")) ? false : null,
                    pasa: _pasa
                };

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: q10datos,
                    success: function () { location.reload(true); }
                });

            });
        })
    });
</script>